<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Reliquias de Papel{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'books:list' %}">Libros</a>
        <a href="{% url 'books:contact' %}">Contacto</a>
        {% if user.is_authenticated %}
            <a href="{% url 'users:profile' %}">Hola, {{ user.username }}</a>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
            <a href="{% url 'register' %}">Registrarse</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>